<h3>BOOK A TICKET</h3>
    <section>
			<form action="/flights/<%= id %>/tickets" method="POST">
				<label
        >Book a ticket!: <input name="seat" required pattern="[A-F][1-9]\d?" />
        </label>
          <input type="number" name="price" /> </label
        ><br />
        <input type="submit" value="Get a ticket" /> 
      </form>
    </section>
