<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Flights</title>
  </head>
  <body>
    <h1>Flight List</h1>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departure Date and Time</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function (flight, idx){ %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
